endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"

set mysql_connection_string "server=localhost;database=bdd;userid=root;password="
set steam_webApiKey "none"
sv_licenseKey "keymaster"
sv_maxclients 10
sets sv_projectName "ProjectName"
sets sv_projectDesc "Description"
sv_hostname "NomDuServ"

##OneSync
set onesync on
set onesync_forceMigration true
set onesync_workaround763185 true

set mysql_debug_output "console"
set mysql_slow_query_warning 500

set sv_enforceGameBuild 3095
load_server_icon "logo.png"
sets locale "fr-FR"
sets banner_detail "IMAGE ICI"
sets banner_connecting "IMAGE ICI"

set es_startingBank 15000
set es_startingCash 5000

sets tags "default"

add_ace group.admin command allow # allow all commands
add_ace group.admin command.quit deny # but don't allow quit
add_principal identifier.fivem:1 group.admin # add the admin to the group
